<?xml version="1.0" encoding="UTF-8"?>
<scheduler-config>
    <databases>
        <database>
            <name>db1</name>
            <host></host>
            <port>3306</port>
            <databaseName></databaseName>
            <user>root</user>
            <password></password>
        </database>
    </databases>

    <schedule>
        <cron-expression>0/10 * * * * ?</cron-expression> 
    </schedule>

    <queries>
        <query>
            <database-ref>db1</database-ref>
            <sql>SELECT * FROM </sql>
            <csv>
                <output-path>/reports/users</output-path>
                <file-name>marcas.csv</file-name>
                <delimiter>;</delimiter>
            </csv>
        </query>
    </queries>
</scheduler-config>
